<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LunaSoft_Write.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LunaSoft_Write.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <LunaSoft_Write.My.MySettings>
            <setting name="Product_Version" serializeAs="String">
                <value>2.0.0</value>
            </setting>
        </LunaSoft_Write.My.MySettings>
    </applicationSettings>
    <userSettings>
        <LunaSoft_Write.My.MySettings>
            <setting name="Default_Font" serializeAs="String">
                <value>Segoe UI Light, 8.25pt</value>
            </setting>
            <setting name="Font_Colour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Back_Colour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Window_size" serializeAs="String">
                <value>1016, 569</value>
            </setting>
            <setting name="Codename" serializeAs="String">
                <value>Moscow</value>
            </setting>
            <setting name="Windowlastlocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Stickynotetext" serializeAs="String">
                <value />
            </setting>
            <setting name="Titlebar" serializeAs="String">
                <value>LunaSoft Write 2.0</value>
            </setting>
            <setting name="Developer_Mode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtensionsDirectory" serializeAs="String">
                <value>C:\LunaSoft\Write\Extensions</value>
            </setting>
            <setting name="Tablet_Mode_on" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Menustrip_size_font_tabletmode" serializeAs="String">
                <value>Segoe UI Light, 14.55pt</value>
            </setting>
            <setting name="Menustrip_size_font_normal" serializeAs="String">
                <value>Segoe UI Light, 9pt</value>
            </setting>
            <setting name="TabletModeonstartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Statusstrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Updater_Version" serializeAs="String">
                <value>0.4.5</value>
            </setting>
            <setting name="LatestEditionsonstart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Servicepack" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Update" serializeAs="String">
                <value>2</value>
            </setting>
        </LunaSoft_Write.My.MySettings>
    </userSettings>
</configuration>